* {
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

/* FONT-AWESOME */
@font-face {
    font-family: brands;
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: fas;
    src: url(../fonts/fa-solid-900.ttf);
}

.fab {
    font-family: brands;
}

.fas {
    font-family: fas;
}

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-linkedin-in::before {
    content: "\f0e1";
}

.fab.fa-github::before {
    content: "\f09b";
}

.fas.fa-bars:before {
    content: "\f0c9"; 
}

.fas.fa-times::before {
    content: "\f00d";
}

.fas.fa-upload::before {
    content: "\f093";
}

/* BASE */

html {
    font-family: montserrat, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

body.rtl {
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: montserrat-bold, 'Arial Narrow Bold', sans-serif;;
}

h2 {
    font-size: 1.562;
}

p {
    margin: 0;
}
/* LAYOUT */
.main-layout {
    /* max-width: 1100px; */
    padding: 0 10px;
}

/* HEADER */
header {
    height: 66px;
    position: relative;
    z-index: 1;
}

.header-container {
    height: 100%;
}

.logo {
    height: 22px;
}

.btn-menu {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

/* nav */
nav {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.6s;
}

.main-nav-open nav {
    transform: translateY(71%);
}

nav ul {
    height: 100%;
}

nav li {
    flex-grow: 1;
}

nav a, .nav-item {
    text-decoration: none;
    color: inherit;
    height: 100%;
    transition: 0.6s;
    padding: 10px;
}

nav a.selected {
    color: #040a2c;
}

nav a:hover {
    color: #040a2c;
}

nav [for="lang"] {
    margin-inline-end: 10px;
}

/* GALLERY */

/* SEARCH */
.search {
    height: 103px;
}

.search [name=search] {
    color: #7a7a7a;
    font-family: montserrat-medium, sans-serif;
    font-size: 1.187em;
    border: 0;
    border-bottom: 1px solid #03092b;
    padding-bottom: 7px;
}

.keywords ul {
    flex-wrap: wrap;
}

.keywords li {
    margin: 0 30px;
    color: #040a2c;
    cursor: pointer;
}

.keywords li.more {
    display: none;
}

.keywords li:first-child {
    margin-inline-start: 0;
}

.keywords li:last-child {
    margin-inline-end: 0;
}

/* MAIN */
main {
    padding: 0 10px;
}

/* IMGS GALLERY */
main .imgs-gallery, .memes ul {
    padding: 20px 0;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin:auto;
}

.imgs-gallery li:not(:first-child) {
    align-self: center;
}

.imgs-gallery .upload {
    color: #fff;
    text-align: center;
}

.imgs-gallery label {
    cursor: pointer;
}

.imgs-gallery [name=upload] {
    position: absolute;
    visibility: hidden;
}

.imgs-gallery .upload div {
    margin-top: 0.5em;
    font-size: 2.5em;
}

.imgs-gallery img {
    width: 100%;
    cursor: pointer;
}

/* ABOUT */
.about {
    font-size: 1.25em;
    margin-top: 78px;
    margin-bottom: 166px;
}

.about-container { 
    text-align: center;
}

.about .info p {
    margin-top: 0.875em;
    margin-bottom: 3.312em;
}

.about ul {
    gap: 9px;
}

.about a {
    color: white;
    height: 39px;
    width: 39px;
    text-decoration: none;
}

.about img {
    max-width: 322px;
}

/* FOOTER */
footer {
    height: 206px;
}

footer small {
    font-size: 1.187em;
    font-family: montserrat-thin;
    color: white;
    margin-top: 1.25em;
}

/* DASHBOARD */
div.dashboard {
    padding: 25px 0;
    flex-grow: 1;
    display: none;
}

.dashboard-container {
    width: 100%;
    min-height: 550px;
}

/* canvas */
.canvas-container {
    flex-basis: 50%;
}

.canvas {
    display: block;
}

/* controls */
.controls {
    flex-basis: 50%;
    margin-top: 25px;
}

.controls-container {
    width: 373px;
    grid-template-rows: 1fr 1.3fr 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "input input input input input"
    ". up-and-down add trash ."
    "increase-font decrease-font align-to-left center-text align-to-right"
    "select select select text-stroke text-color"
    "stickers stickers stickers stickers stickers"
    "save save . share share";
}

.controls-container [name=txt] {
    grid-area: input;
    height: 60px;
    line-height: 60px;
    border: 0;
    margin-bottom: 11px;
    font-size: 1.25em;
    padding: 0 22px;
}

.controls-container button {
    width: 60px;
    height: 60px;
    border: 0;
    padding: 11px;
}

.controls-container .up-and-down {
    grid-area: up-and-down;
}

.controls-container .add {
    grid-area: add;
}

.controls-container .trash {
    grid-area: trash;
}

.controls-container .increase-font {
    grid-area: increase-font;
}

.controls-container .decrease-font {
    grid-area: decrease-font;
}

.controls-container .align-to-left {
    grid-area: align-to-left;
}

.controls-container .center-text {
    grid-area: center-text;
}

.controls-container .align-to-right {
    grid-area: align-to-right;
}

.controls-container [name=font] {
    border: 0;
    grid-area: select;
    height: 60px;
    margin-inline-end: 14px;
    font-size: 1.25em;
    padding: 0 22px;
}

.controls-container .text-stroke {
    grid-area: text-stroke;
}

.controls-container .text-color {
    grid-area: text-color;
}

.controls-container .text-stroke [name=text-stroke], .text-color [name=text-color] {
    position: absolute;
    visibility: hidden
}

.controls-container .stickers {
    grid-area: stickers;
    height: 135px;
    padding: 32px 49px;
}

.controls .stickers img {
    width: 33%;
}

.controls-container .stickers .selected {
    outline: 3px solid #03f803;
}

.controls-container .share, .controls-container .save {
    color: white;
    font-size: 1.25em;
    width: auto;
    cursor: pointer;
}

.controls-container .share {
    grid-area: share;
}

.controls-container .share:disabled {
    background-color: #ccc;
}

.controls-container .save {
    grid-area: save;
}

/* MEMES */
.memes {
    flex-grow: 1;
    padding: 20px 0;
}

.memes h2 {
    text-align: center;
}

.memes ul img {
    width: 100%;
}

.memes .meme {
    position: relative;
}

.meme .actions {
    position: absolute;
    bottom: 15px;
    left: 15px
}

.meme button {
    padding: 15px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

/* MODAL */
.modal {
    inset: 0;
    position: fixed;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
}

.modal .modal-container {
    position: relative;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
}

.modal-open .modal {
    opacity: 1;
    pointer-events: unset;
}

.modal .screen {
    background-color: rgba(204, 204, 204, 0.788);
    inset: 0;
    position: absolute;
    z-index: -1;
}

.modal .modal-content {
    padding: 50px;   
    background-color: #fff;
    border-radius: 0.5em;
}

.modal button {
    padding: 15px 30px;
    color: #fff;
    font-size: 1.25em;
}

.modal button a {
    text-decoration: none;
    color: inherit
}

/* HELPERS */
.image-fluid {
    width: 100%;
}

/* flex helpers */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

/* colors helpers */
.bg-orange {
    background-color: #ff7f00;
}

.bg-gray {
    background-color: #e3e3e3;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: rgb(138, 19, 19);
}

.color-white {
    color: white;
}

/* grid helpers */
.grid {
    display: grid;
}

/* list helpers */

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* IMAGE HELPERS */
.img-fluid {
    width: 100%;
}

/* rounded-corners */
.rounded {
    border-radius: 0.5em;
}

@media (min-width: 900px) {
    .main-layout {
        margin: 0 auto;
        max-width: 900px;
        padding: 0;
    }
    .btn-menu { 
        display: none;
    }
    .main-nav-open nav {
        transform: translateY(0);
        z-index: 2;
    }
    nav {
        height: 100%;
        position: static;
        width: auto;
        transform: translateY(0);
        z-index: 1;
    }
    nav ul.main-nav {
        flex-direction: row;
    }
    nav li {
        padding: 0 16px;
    }
    nav li:first-child {
        padding-inline-start: 0;
    }
    nav li:last-child {
        padding-inline-end: 0;
    }
    nav a, .nav-item {
        padding: 0;
    }
    nav a.selected {
        box-shadow: inset 0 -4px #03092b;
    }
    .search {
        flex-direction: row;
        justify-content: space-between;
    }
    main .imgs-gallery, .memes ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.dashboard-container {
        height: 550px;
        flex-direction: row;
    }
    .controls {
        margin-top: 0;
    }
    .controls-container {
        width: auto;
        margin-inline-start: 30px;
    }
    .about-container {
        flex-direction: row;
        text-align: left;
    }
    .rtl .about-container {
        text-align: right;
    }
    .about .info {
        margin-inline-start: 40px;
    }
    .about ul {
        justify-content: flex-start;
    }
}

/* REGULAR */
@media (min-width: 1124px) {
    .main-layout {
        max-width: 1100px;
    }
    .controls-container {
        margin-inline-start: 0;
        width: 373px;
    }
    .controls-container .stickers img{
        width: auto;
    }
}
